* {
background-color: beige;
color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 22px;

}

.container {
    display: flex;
    }

.Head {
    margin: auto;
    padding: 10px;
    border: 20px;
    list-style: none;
    display: flex;
    gap: 200px;

}


img{
    height: auto;
    width: 300px;
}